body {
    background: #dfe6e9;
}

.search-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
}

.page-dropdown-container {
    width: 200px;
    margin-left: 40px;
}

.photo-container {
    display: flex;
    justify-content: center;
}

.photo-thumbnail-container {
    width: 300px;
    height: 300px;
}

.search-components-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.result-info-span {
    margin: 20px;
}

.photo-thumbnail-container:hover {
    opacity: 0.5;
}

.photo-thumbnail-img {
    width: 100%;
    height: 100%;
}

.pagination-container {
    align-content: center;
    margin: 10px;
    padding: 20px;
}

.search-button:hover {
    cursor: pointer;
    color: blue;
}

.photo-likes-container {
    position: relative;
    top: -100px;
    margin: auto;
    background: #636e72;
    width: 100px;
    height: 30px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
}

.likes-span {
    color: white;
    margin-left: 5px;
}

.photo-results-container {
    min-height: calc(100vh - 400px);
}

.no-result-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 400px);
}

.no-result-found-span {
    font-size: 20px;
    color: gray;
    margin-left: 20px;
}

.search-label {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.top-bar {
    height: 180px;
}